.navbar {
    background-color: rebeccapurple !important;
}
.btn-primary {
    background-color: rebeccapurple;
}
.carousel-item {
    height: 40rem;
    background-position: center;
    background-size: cover;
}
.container-carousel {
    padding-top: 5rem;
}
.footer-container {
    color: white;
    padding-top: 2rem;
    padding-bottom: 7%;
}
.tumitask-footer {
    background-color: rgb(80, 80, 80);
}

.modal-title, .form-label {
    font-weight: bold;
}

.search-container {
    background-color: rgb(238 238 238);
}

.search-bar-section{
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}
.category-header{
    text-align: center;
}
.category-container{
    box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.47);
    border: 2px solid rgba(91,91,91,0.41);
    border-radius: 10px;
}
.filter-container{
    margin-left: 1rem !important;
}



